<!--{% load static %}-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="styles.css">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>Chikaslalala</title>
  </head>
  <body>
    <!-- Menula -->
    <nav class="navbar navbar-expand-lg navbar-light bg-danger">
      <div class="container-fluid">
        <!--An vao logo de ve trang chu, truyen duong dan vao #-->
        <a class="navbar-brand" href="#">
          <!--Logo-->
          <img src="sweet.jpeg" width="20px" height="20px"> 
        </a>

        <!--button for responsive purposes(unnecessary)-->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <!--1 list thong tin, co the tai su dung-->
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
<!---->
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
<!---->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
<!---->
            <li class="nav-item">
              <a class="nav-link" href="#">About us</a>
            </li>
            <!--Create as many item as you want, just copy the about us behigh-->
<!---->
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Later</a>
            </li>

            <li style="color: aquamarine; margin-top: auto; margin-bottom: auto; padding-left: 100px; font-size: 0px;">Waiting for cart</li>

          </ul>

          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button style="color: pink; border-color: black;" class="btn btn-outline-success" type="submit"> Search</button>
          </form>
        </div>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            <li class="nav-item dropdown" style="margin-right: 20px; margin-left: 20px; background-color: aqua;">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Account
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a style="color: red;" class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>

            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Cart</a>
            </li>

            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Heap</a>
            </li>

          </ul>

        
      </div>
    </nav>

    <!--main body-->

    <!-- {% block banner-slider %} --> 

    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
          <img src="download (1).jpeg" class="d-block w-100" alt="..." style="height: 600px; overflow: hidden;">
          <div class="carousel-caption d-none d-md-block" style="color: rebeccapurple;">
            <h5>First slide label</h5>
            <p>Some representative placeholder content for the first slide.</p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="download.jpeg" class="d-block w-100" alt="..." style="height: 600px; overflow: hidden;">
          <div class="carousel-caption d-none d-md-block bg-success text-white " style="padding-left: 20px;">
            <h5>Second slide label</h5>
            <p>Some representative placeholder content for the second slide.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="download (1).jpeg" class="d-block w-100" alt="..." style="height: 600px; ">
          <div class="carousel-caption d-none d-md-block">
            <h5>Third slide label</h5>
            <p>Some representative placeholder content for the third slide.</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <!--{% endblock banner-slider %} -->

    <!-- {% block main-content %} -->
    <div class="flex-container">
      <div class="card" style="width: 20%; height: 80px;display: inline-block; margin-bottom: 800px;">
        <img src="download (1).jpeg" class="card-img-top" alt="..." >
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some t.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="width: 20%; height: 80px;display: inline-block; margin-bottom: 800px;">
        <img src="download (1).jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some t.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="width: 20%; height: 80px; display: inline-block; margin-bottom: 800px;">
        <img src="download (1).jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some t.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="width: 20%; height: 80px; display: inline-block; margin-bottom: 800px;">
        <img src="download (1).jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some t.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>



    <div class="card" style="width: 18rem;">
      <img src="download (1).jpeg" class="card-img-top" alt="..." style="height: 250px;">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>



    <div class="card" style="width: 18rem;">
      <img src="download.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">An item</li>
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>

<!--Trong class row tuc la day la 1 row, muon them san pham cung row thi phai add vao day-->

    <div class="row" style="padding-bottom: 100px;">
      <div class="row-cols-3">
        <img class="img-thumbnail" src="download (1).jpeg" height="200px">
        <div class="box-element product">
          <h6><strong>San Pham</strong></h6>
          <hr>

          <button class="btn btn-outline-secondary add-btn">Add cart</button>
          <a class="btn btn-outline-success" href="#">View</a>
          <h4 style="display: inline-block; float: right;"><strong>1000000vnd</strong></h4>

        </div>
      
    
    </div>    







    
    
    
    <!--{% endblock main-content %} -->

    <!-- {% block main-content %} {% endblock main-content %} -->

    <!--footer-->

    <!--padding, margin-top green success-->

    <footer style="color: blueviolet;" class="container-fluid bg-success text-center fixed-bottom p-1 mt-5">nice footer</footer>


  </body>
</html>